{% load static %}
<style>
    .logo-imgs{
        box-shadow: 10px;
        padding: 5px;
    }
</style>

<div class=" logo-imgs">
     <h3 class="font-weight-bold text-center dark-grey-text pb-2">Our Partners</h3>
    <div class="row ">
        <div class="col-sm-1">
        <img  class=" card p-1 m-2" src="{% static 'accenture.png' %}" width="100" id="img-companys" >
        </div>
        <div class="col-sm-1">
                <img  class=" card p-1 m-2" src="{% static '1.jpeg' %}" width="100" id="img-companys" >
        </div>
        <div class="col-sm-1">
                <img  class=" card p-1 m-2" src="{% static '0.jpeg' %}" width="100" id="img-companys" >
        </div>
        <div class="col-sm-1">
                <img  class=" card p-1 m-2" src="{% static '9B4BF65F-12AA-4BAD-9577-728930EA7356.png' %}" width="100" id="img-companys" >
        </div>
        <div class="col-sm-1">
                <img  class=" card p-1 m-2" src="{% static 'amazon-logo.png' %}" width="100" id="img-companys" >
        </div>
        <div class="col-sm-1">
                <img  class=" card p-1 m-2" src="{% static 'dell.png' %}" width="100" id="img-companys" >
        </div>
        <div class="col-sm-1">
                <img  class=" card p-1 m-2" src="{% static 'dxc.png' %}" width="100" id="img-companys" >
        </div>
        <div class="col-sm-1">
                <img  class=" card p-1 m-2" src="{% static 'google-logo.png' %}" width="100" id="img-companys" >
        </div>
        <div class="col-sm-1">
                <img  class=" card p-1 m-2" src="{% static 'hcl.png' %}" width="100" id="img-companys" >
        </div>
        <div class="col-sm-1">
                <img  class=" card p-1 m-2" src="{% static 'ibm-logo-2.png' %}" width="100" id="img-companys" >
        </div>
        <div class="col-sm-1">
                <img  class=" card p-1 m-2" src="{% static 'hexa.jpg' %}" width="100" id="img-companys" >
        </div>
        <div class="col-sm-1">
                <img  class=" card p-1 m-2" src="{% static 'FIS_company_Fidelity_National_Information_Services_Inc._Corporate_Logo.svg_.png' %}" width="100" id="img-companys" >
        </div>
        
    </div>
    <div class="row">
        <div class="col-sm-1">
                <img  class=" card p-1 m-2" src="{% static 'infosys.png' %}" width="100" id="img-companys" >
        </div>
        <div class="col-sm-1">
                <img  class=" card p-1 m-2" src="{% static 'invesco.png' %}" width="100" id="img-companys" >
        </div>
        <div class="col-sm-1">
                <img  class=" card p-1 m-2" src="{% static 'ntt.jpg' %}" width="100" id="img-companys" >
        </div>
        <div class="col-sm-1">
        <img  class=" card p-1 m-2" src="{% static 'oracle.jpg' %}" width="100" id="img-companys" >
        </div>
        <div class="col-sm-1">
                <img  class=" card p-1 m-2" src="{% static 'Polaris-Logo.png' %}" width="100" id="img-companys" >
        </div>
        <div class="col-sm-1">
                <img  class=" card p-1 m-2" src="{% static 'samsung-logo.png' %}" width="100" id="img-companys" >
        </div>
        <div class="col-sm-1">
                <img  class=" card p-1 m-2" src="{% static 'sasken.jpg' %}" width="100" id="img-companys" >
        </div>
        <div class="col-sm-1">
                <img  class=" card p-1 m-2" src="{% static 'sony.png' %}" width="100" id="img-companys" >
        </div>
        <div class="col-sm-1">
                <img  class=" card p-1 m-2" src="{% static 'tcs.jpg' %}" width="100" id="img-companys" >
        </div>
        <div class="col-sm-1">
                <img  class=" card p-1 m-2" src="{% static 'tech-m.jpeg' %}" width="100" id="img-companys" >
        </div>
        <div class="col-sm-1">
                <img  class=" card p-1 m-2" src="{% static 'logica-min.jpg' %}" width="100" id="img-companys" >
        </div>
        
        <div class="col-sm-1">
                <img  class=" card p-1 m-2" src="{% static 'mu-sigma-696x365.gif' %}" width="100" id="img-companys" >
        </div>
        
    </div>
    <div class="row">
        <div class="col-sm-1">
                <img  class=" card p-1 m-2" src="{% static 'wipro.png' %}" width="100" id="img-companys" >
        </div>
        <div class="col-sm-1">
                <img  class=" card p-1 m-2" src="{% static 'Zoho_logo-700x241.png' %}" width="100" id="img-companys" >
        </div>
        <div class="col-sm-1">
                <img  class=" card p-1 m-2" src="{% static 'walmart.png' %}" width="100" id="img-companys" >
        </div>
        <div class="col-sm-1">
        <img  class=" card p-1 m-2" src="{% static 'world-health.png' %}" width="100" id="img-companys" >
        </div>
        <div class="col-sm-1">
                <img  class=" card p-1 m-2" src="{% static 'Untitled-3.jpg' %}" width="100" id="img-companys" >
        </div>
        <div class="col-sm-1">
                <img  class=" card p-1 m-2" src="{% static 'state-grid.png' %}" width="100" id="img-companys" >
        </div>
        <div class="col-sm-1">
                <img  class=" card p-1 m-2" src="{% static 'ofs-logo.gif' %}" width="100" id="img-companys" >
        </div>
        <div class="col-sm-1">
                <img  class=" card p-1 m-2" src="{% static 'nokia.png' %}" width="100" id="img-companys" >
        </div>
        <div class="col-sm-1">
                <img  class=" card p-1 m-2" src="{% static 'jpmorgan.png' %}" width="100" id="img-companys" >
        </div>
        <div class="col-sm-1">
                <img  class=" card p-1 m-2" src="{% static 'apple-logo.png' %}" width="100" id="img-companys" >
        </div>
        <div class="col-sm-1">
                <img  class=" card p-1 m-2" src="{% static 'mckesson.png' %}" width="100" id="img-companys" >
        </div>
        <div class="col-sm-1">
                <img  class=" card p-1 m-2" src="{% static 'coca-cola-logo.png' %}" width="100" id="img-companys" >
        </div>
        
    </div>
    <div class="row">
        <div class="col-sm-1">
                <img  class=" card p-1 m-2" src="{% static 'bank-of america.png' %}" width="100" id="img-companys" >
        </div>
        <div class="col-sm-1">
                <img  class=" card p-1 m-2" src="{% static 'facebook-logo.png' %}" width="100" id="img-companys" >
        </div>
        <div class="col-sm-1">
                <img  class=" card p-1 m-2" src="{% static 'flipkart-logo-696x198.jpg' %}" width="100" id="img-companys" >
        </div>
        <div class="col-sm-1">
        <img  class=" card p-1 m-2" src="{% static 'capgemini.jpg' %}" width="100" id="img-companys" >
        </div>
        <div class="col-sm-1">
                <img  class=" card p-1 m-2" src="{% static 'cognizant-696x212.png' %}" width="100" id="img-companys" >
        </div>
        <div class="col-sm-1">
                <img  class=" card p-1 m-2" src="{% static 'mphasis-logo.png' %}" width="100" id="img-companys" >
        </div>
        <div class="col-sm-1">
                <img  class=" card p-1 m-2" src="{% static 'intel-logo.png' %}" width="100" id="img-companys" >
        </div>
        <div class="col-sm-1">
                <img  class=" card p-1 m-2" src="{% static 'huawei-logo-446x420.png' %}" width="100" id="img-companys" >
        </div>
        <div class="col-sm-1">
                <img  class=" card p-1 m-2" src="{% static 'deloitte.png' %}" width="100" id="img-companys" >
        </div>
        <div class="col-sm-1">
                <img  class=" card p-1 m-2" src="{% static 'microsoft-logo.png' %}" width="100" id="img-companys" >
        </div>
        <div class="col-sm-1">
                <img  class=" card p-1 m-2" src="{% static 'mindtree-logo-696x365.jpg' %}" width="100" id="img-companys" >
        </div>
        <div class="col-sm-1">
                <img  class=" card p-1 m-2" src="{% static 'cisco-logo.png' %}" width="100" id="img-companys" >
        </div>

    </div>
</div>
<style>

</style>

