{% extends 'companybase.html' %}
{% block content %}
<div class="companybg">
 
</div>
<section>
  <table class="table">
    <thead class="black white-text">
      <tr>
        <th scope="col">#</th>
        <th scope="col">CompanyName</th>
        <th scope="col">Position</th>
        <th scope="col">Interview Date</th>
        <th scope="col">Interview Location</th>
        <th scope="col">Min_Ex</th>
        <th scope="col">Max_Ex</th>
      </tr>
    </thead>
    {% for data in obj1 %}
    <tbody>
     
        <tr>
          <th scope="row">1</th>
          <td>
            <a  href="{% url 'jobkarlepro:Applied_Candidates' data.id user_data.id %}"><p class="orenge" style="color: navy;">{{data.CompanyName}}</p></a>
          </td>
          <td>{{data.Skills}}</td>
          <td>{{data.Iterview_Date}}</td>
          <td>{{data.Interview_Location}}</td>
          <td>{{data.Min_Exp}} EXP</td>
          <td>{{data.Max_Exp}} EXP</td>
        </tr>
      
    </tbody>
    {% endfor %}
  </table>
</section>
{% endblock %}
