{% extends 'base.html' %}
{% block content %}
<div class=" m-auto col-sm-12 ">
    <form  action="{% url 'jobkarlepro:FreshExtradata' %}" method="POST" >
    {% csrf_token %}
<div class="container m-auto">
    <div class="card col-sm-8 ml-5 mt-5">
        <div class="card col-sm-2 mt-2" style="background-color: yellow;">        
            <strong><div class="row"><mark  style="background-color: black; color:white; text-align:center;">personal</mark><mark style="background-color: yellow; color:black;"> data</mark></div></<strong>
        </div>
     <input type="hidden"  name="user_id" value="{{user_id.id}}">
    <div class="row m-2" style="text-decoration-thickness: 20px;">
        <div class="col-sm-6">{{forms.Gender}}</div>
        <div class="col-sm-6">{{forms.Nationality}}</div>
    </div>
    <div class="row m-2">
        <div class="col-sm-6">{{forms.Religion}}</div>
        <div class="col-sm-6">{{forms.Age}}</div>
    </div>
    <div class="col-sm-12">{{forms.Address}}</div>
    <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0 m-2 col-sm-3 f-right" type="submit" >Next</button>
</div>
</form>
</div>

<script>
    $(window).on('load', function() {  
        //debugger
        if (localStorage.getItem("country_json") == null) {
            countryList()
        }
      });
    </script>
{% endblock %}