{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    .rigister-button {
        text-align: center;
        margin-left: 100px;
    }
    .card-body ::placeholder{
        color: #4A90E2;
    }
    .jobkarle-conditions{
        box-shadow: 0 0 5px;
        padding: 20px;
        align-items: center;
        text-align: center;
        color: black;
    }
    .jobkarle-conditions strong{
        font-size:20px;
    }
    .know-more1{
        float: right;
        font-size: 20px;
    }
    .know-more2{
        float: right;
        font-size: 20px;
    }
    h5,p,a,li{
      font-size: 12px;
    }
    h1,h2,h3,h4{
      font-size: 15px;
    }
    .google-logo{
        border: 2px solid black;
    }
    .google-name strong{
        margin-left: 10px;
    }
    .google-name strong{
        position: relative;
        top: 10px;
    
    }
    .rigister-modal{
        margin-top: 50%;
        background-color: white;
        
    }
    .login-input input{
        text-decoration: none;
    }
    .carde {
      position: relative;
      color: #fff;
      background: rgba(0, 0, 128, 0.692);
      box-shadow: 0 4px 8px 0 rgba(17, 1, 1, 0.226);
      transition: 0.3s;
    }
    .carde:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      border-width: 16px 16px 16px 16px;
      border-style: solid;
      border-color:navy orange;
    }
</style>
<section class="#e8eaf6 indigo lighten-5 pt-3" style="position:relative; top:130px;">
  <div class=" col-sm-8 m-auto p-3">


    <!--Section: Content-->
    <section class="text-center dark-grey-text">
  
      <!--Grid row-->
      <div class="row">
  
        <!--Grid column-->
        <div class="col-md-6 m-auto">
         <div class="row m-auto" style="width: max-content;">
           <div class="">
            <div class="carde card m-1">
              <p class="" style="color: white; font-size:18px;"></p>
            </div> 
           </div>
           <div class="pt-1">
            <p class="font-weight-bold p-2">Application Blocks</p>
           </div>
         </div>
          <p class="text-muted">Education for a Better Society..!</p>
          <p class="text-muted">Access unadvertised jobs <mark>JOBKARLE.com</mark> is widely used by recruiters and head hunters to meet their hiring needs.
             As you might know, not every job opportunity is posted on the internet publicly.</p>
  
          <a class="btn btn-purple btn-md ml-0" href="#" role="button">Start now<i class="fa fa-gem ml-2"></i></a>
  
          <hr class="my-5">
  
          <p class="font-weight-bold">Follow us on:</p>
  
          <!--Facebook-->
          <a href="#" class="mx-1" role="button"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="mx-1" role="button"><i class="fab fa-twitter"></i></a>
          <a href="#" class="mx-1" role="button"><i class="fab fa-linkedin-in"></i></a>
          <a href="#" class="mx-1" role="button"><i class="fab fa-instagram"></i></a>
          <a href="#" class="mx-1" role="button"><i class="fab fa-pinterest"></i></a>
          <a href="#" class="mx-1" role="button"><i class="fab fa-youtube"></i></a>
          <a href="#" class="mx-1" role="button"><i class="fab fa-github"></i></a>
          <a href="#" class="mx-1" role="button"><i class="fab fa-stack-overflow"></i></a>
          <!-- <div class="m-auto" style="position: absolute; bottom:20%; left:31%;">
            {% include 'logo.html' %}
          </div> -->
       
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-md-6 mb-4 mb-md-0">
          <img class="card p-2 bootimg m-auto" src="{% static 'testpic.jpg' %}" width="" height="550"  class="img-fluid" alt="">
        </div>
        <!--Grid column-->
  
      </div>
      <!--Grid row-->
  
  
    </section>
    <!--Section: Content-->
  
  
  </div>
  <div class="container my-5">

    <!-- Section -->
    <section>
      <div class="row m-auto" style="width: max-content;">
        <div class="">
         <div class="carde card m-1">
           <p class="" style="color: white; font-size:18px;"></p>
         </div> 
        </div>
        <div class="pt-1">
         <p class="font-weight-bold p-2  text-center dark-grey-text">Our Services</p>
        </div>
      </div>
      <hr class="w-header my-4">
      <div class="row text-center dark-grey-text">
  
        <div class="col-md-6 col-xl-3 mb-4">
          <div class="card text-center #f0f4c3 lime lighten-4 text-white">
            <div class="card-body">
              <p class="mt-4 pt-2 card m-auto #cfd8dc blue-grey lighten-4" style="width: max-content;"><i class="far fa-object-ungroup fa-4x"></i></p>
              <h5 class="font-weight-bold my-4 py-2" style="font-weight: bold; color:black;">JOBS FOR YOU</h5>
              <p class="mb-4" style="font-weight: bold; color:rgba(0, 0, 0, 0.664);">Stand out as an Early Applicant with instant access to jobs
                Use <u><mark>Jobkarle.com</mark></u>  Application expert advantage to get handpicked jobs in your inbox </>
            </div>
          </div>
        </div>
  
        <div class="col-md-6 col-xl-3 mb-4">
          <div class="card text-center">
            <div class="card-body">
              <p class="mt-4  card m-auto " style="width: max-content;"><i class="fas fa-mobile-alt fa-4x grey-text"></i></p>
              <h5 class="font-weight-bold my-4 py-2" style="font-weight: bold; color:black;">Recruiters Search</h5>
              <p class="text-muted mb-4" style="font-weight: bold; color:rgba(0, 0, 0, 0.664);">Not getting enough profile views?</p>
              <p class="text-muted mb-4" style="font-weight: bold; color:rgba(0, 0, 0, 0.664);">

                Get a Featured Profile and increase your visibility to recruiters up to 3 times</p>
            </div>
          </div>
        </div>
  
        <div class="col-md-6 col-xl-3 mb-4">
          <div class="card text-center #e1bee7 purple lighten-4 text-white">
            <div class="card-body">
              <p class="mt-4 pt-2 card m-auto #ffab91 deep-orange lighten-3" style="width: max-content;"><i class="fas fa-chart-line fa-4x"></i></p>
              <h5 class="font-weight-bold my-4 py-2" style="font-weight: bold; color:black;" >Companys Info</h5>
              <p class="mb-4" style="font-weight: bold; color:rgba(0, 0, 0, 0.664);"><u><mark>Jobkarle.com</mark></u>  tied with Multi National Companies and as well as StartUp Companies soo students can get all the information about they required comapnies </p>
            </div>
          </div>
        </div>
  
        <div class="col-md-6 col-xl-3">
          <div class="card text-center">
            <div class="card-body">
              <p class="mt-4 pt-2 card m-auto" style="width: max-content;"><i class="fas fa-bullhorn fa-4x grey-text"></i></p>
              <h5 class="font-weight-bold my-4 py-2" style="font-weight: bold; color:black;">Premium Package</h5>
              <p class="text-muted m-0"style="font-weight: bold; color:rgba(0, 0, 0, 0.664);">Premium membership will only do the following: </p>
              <p class="text-muted m-0"style="font-weight: bold; color:rgba(0, 0, 0, 0.664);"> 1.Your profile visibility to employers will increase. </p>
              <p class="text-muted m-0"style="font-weight: bold; color:rgba(0, 0, 0, 0.664);"> 2.You will receive job offers at regular intervals through sms </p>

            </div>
          </div>
        </div>
  
      </div>
  
    </section>
    <!-- Section -->
  
  </div>
  <div class="m-auto p-3">
    {% for message in messages %}
    <script>
      alert('{{message}}');
    </script>
    {{message}}
    {% endfor %}
          <!-- background: linear-gradient(rgba(11, 44, 231, 0.3),rgba(0,0,0,0.3)); -->
  
          <!-- <img src="{% static 'ibm-logo-2.png' %}" width="40" alt="My image"> -->
      <!-- Material form register -->
      <!-- <div>
  
          <div>
              {% block companys %}
              {% include 'companys-img.html'%}
              {% endblock %}
          </div>
          Card content
      </div> -->
  <!-- Footer -->
<footer class="page-footer font-small ">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Footer links -->
    <div class="row text-center text-md-left mt-3 pb-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <div class="mt-3 mb-3" style="width: max-content;">
          {% include 'logo.html' %}
        </div>
       
        <p>Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet,
          consectetur
          adipisicing elit.</p>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
        <p>
          <a >MDBootstrap</a>
        </p>
        <p>
          <a>MDWordPress</a>
        </p>
        <p>
          <a>BrandFlow</a>
        </p>
        <p>
          <a>Bootstrap Angular</a>
        </p>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Useful links</h6>
        <p>
          <a style="color: black;">Your Account</a>
        </p>
        <p>
          <a>Become an Affiliate</a>
        </p>
        <p>
          <a>Shipping Rates</a>
        </p>
        <p>
          <a>Help</a>
        </p>
      </div>

      <!-- Grid column -->
      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
        <p>
          <i class="fas fa-home mr-3"></i>SRI KALAHASTI,CHITTOOR,AP,INDIA</p>
        <p>
          <i class="fas fa-envelope mr-3"></i>abeedsk5dev@gmail.com</p>
        <p>
          <i class="fas fa-phone mr-3"></i> + 91 8897797817</p>
        <p>
          <i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Footer links -->

    <hr>

    <!-- Grid row -->
    <div class="row d-flex align-items-center">

      <!-- Grid column -->
      <div class="col-md-7 col-lg-8">

        <!--Copyright-->
        <p class="text-center text-md-left">© 2020 Copyright:
          <a>
            <strong> JOBKARLE.com</strong>
          </a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-5 col-lg-4 ml-lg-0">

        <!-- Social buttons -->
        <div class="text-center text-md-right">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1">
                <i class="fab fa-google-plus-g"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

</footer>
<!-- Footer -->
  <!-- <div class="col-sm">
      <div class=" jobkarle-conditions ">
          <strong>Jobkarle Services you might be interested in</strong>
          <strong>Be a Priority Applicant</strong>
          <p>Increase your chances of getting shortlisted for the applied jobs and receiving calls from recruiters.</p>
          <a href="#" class=" know-more1 ">Know More</a>
          <br><br>
          <strong>Increase your visibility by up to 3 times</strong>
          <p>Get your profile marked as 'Featured' and get a higher rank when recruiters search for resumes</p>
          <a href="#" class=" know-more2 ">Know More</a>
          <br>
          <p>Call 1500-235-8854 now! (Toll-free)</p>
          <br>
      </div>
  </div> -->
      <!-- Material form register -->
      
  </div>
  
  </div>
  <section>
          <div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="card-body px-lg-5 pt-0">
                      <!-- Form -->
                      <form action="{% url 'jobkarlepro:FresherRigister' %}" method="POST">
                          {% csrf_token %}
                          <input type="hidden" name="Fresher_id" id='Fresher_id' value="{{ forms.id }}">
                           <div>
                          <div class="form-row">
                              <div class="col">
                                  <!-- First name -->
                                  <div class="md-form">
                                      <input type="text" placeholder="FirstName" name='firstname'>
                                  </div>
                              </div>
                              <div class="col">
                                  <!-- Last name -->
                                  <div class="md-form">
                                      <input type="text" placeholder="SecondName" name="lastname">
                                  </div>
                              </div>
                          </div>
          
                          <!-- E-mail -->
                          <div class="md-form mt-0">
                            <input type="text" placeholder="UserName" name="username">
                          </div>
                          <div class="md-form mt-0">
                              <input type="email" placeholder="Email" name='email'>
                          </div>
                          <!-- Password -->
                          <div class="md-form">
                          </div>
                          <div class="md-form">
                              <input type="text" placeholder="Password" name="password">
                          </div>
                          </div>
                          <!-- Sign up button -->
                          <div class="modal-footer d-flex justify-content-center">
                                  <button class="btn btn-deep-orange">Sign up</button>
                                </div>
                      </form>
                      <!-- Form -->
                  </div>
            </div>
          </div>
        </div>
  </section>
  <!-- loginmodal form -->
  <section>
      <!-- Modal -->
  <div class="modal fade" id="darkModalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog form-dark" role="document">
    <!--Content-->
    <div class="modal-content card card-image" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/pricing-table%20(7).jpg');">
      <div class="text-white rgba-stylish-strong py-5 px-5 z-depth-4">
        <!--Header-->
        <div class="modal-header text-center pb-4">
          <h3 class="modal-title w-100 white-text font-weight-bold" id="myModalLabel"><strong>SIGN</strong> <a
              class="green-text font-weight-bold"><strong>IN</strong></a></h3>
          <button type="button" class="close white-text" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!--Body-->
        <div class="modal-body">
          <!--Body-->
          <form action="{% url 'jobkarlepro:Login' %}" method="POST">
          {% csrf_token %}
          <div class="md-form mb-5">
            <input type="text" id="Form-email5" name='username' class="form-control white-text">
            <label data-error="wrong" data-success="right" for="Form-email5">Your email</label>
          </div>
  
          <div class="md-form pb-3">
            <input type="password" id="Form-pass5" name='password' class="form-control white-text">
            <label data-error="wrong" data-success="right" for="Form-pass5">Your password</label>
          </div>
            
          <!--Grid row-->
          <div class="row d-flex align-items-center mb-4 mt-0">
  
            <!--Grid column-->
            <div class="text-center mb-3 col-md-12 m-0">
              <button type="submit" class="btn btn-success btn-block btn-rounded z-depth-1">Sign IN</button>
            </div>
            </form>
            <!--Grid column-->
            <div class="col-md-12 m-0">
              <p class="font-small white-text d-flex justify-content-end m-0">Forgot Password</p>
            </div>
          </div>
          <div class="row m-0">
  
            <!--Grid column-->
            <div class="col-md-12 m-0">
              <p class="font-small white-text d-flex justify-content-end m-0">if don't an account? <a href="#" class="green-text ml-1 font-weight-bold">
                  Create</a></p>
            </div>
            <!--Grid column-->
  
          </div>
          <!--Grid row-->
  
        </div>
      </div>
    </div>
    <!--/.Content-->
  </div>
  </div>
  <!-- Modal -->
  <section>
  
  <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="row">
          <div class="col-sm-6 text-center #00bcd4 cyan">
           <div class=" m-auto p-2">
            <a href="#" class="m-auto" ><img src="{% static 'company-register.png' %}" width="80" height="80" alt="avatar" class=" img-responsive"></a>
            <div class="text-center">
              <a href="#" class="#e0e0e0 grey lighten-2 card m-auto p-1" id="company_button" style="width: max-content;">Companys</a>
              <p class="p-1">We Help You Invent The Future</p>
            </div>
           </div>
          </div>
      <div class="col-sm-6 text-center #c0ca33 lime darken-1">
        <div class=" m-auto p-2">
          <a href="#" class="m-auto"><img src="{% static 'student-register.png' %}" width="80" height="80" alt="avatar" class=" img-responsive"></a>
          <div class="text-center">
            <a href="#" class="#e0e0e0 grey lighten-2 card m-auto p-1" id="student_button" style="width: max-content;">Students</a>
            <p class="p-1">The Future Begins Here !</p>
          </div>
         </div>
        </div>
      </div>
      <!-- Collapse buttons -->
  
  
  <!-- Collapsible content -->
<div class="row">
    <div class="col-sm-12  cyan-text">
      <div class="text-center" id="formjk" style="font-weight: bold; color:black;"></div>
    <div class="col">
      <div class="zoomIn" id="multiCollapseExample1">
        <div class="card-body">
          <form action="{% url 'jobkarlepro:CompanyRegister' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="Fresher_id" id='Fresher_id' value="{{ forms.id }}">
             <div>
              <div class="text-center" style="color: #757575;">
  
                <div class="form-row">
                    <div class="col">
                        <!-- First name -->
                        <div class="md-form">
                            <input type="text" id="materialRegisterFormFirstName" name="firstname" class="form-control">
                            <label for="materialRegisterFormFirstName">First name</label>
                        </div>
                    </div>
                    <div class="col">
                        <!-- Last name -->
                        <div class="md-form">
                            <input type="text" id="materialRegisterFormLastName" name="secondname" class="form-control">
                            <label for="materialRegisterFormLastName">Last name</label>
                        </div>
                    </div>
                </div>
                <div class="md-form mt-0">
                  <input type="text" id="materialRegisterFormEmail" name="username" class="form-control">
                  <label for="materialRegisterFormEmail">username</label>
              </div>
      
      
                <!-- E-mail -->
                <div class="md-form mt-0">
                    <input type="email" id="materialRegisterFormEmail" name="email" class="form-control">
                    <label for="materialRegisterFormEmail">E-mail</label>
                </div>
      
                <!-- Password -->
                <div class="md-form">
                    <input type="password" id="materialRegisterFormPassword" name="password"class="form-control" aria-describedby="materialRegisterFormPasswordHelpBlock">
                    <label for="materialRegisterFormPassword">Password</label>
                    <small id="materialRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
                        At least 8 characters and 1 digit
                    </small>
                </div>
                <div class="md-form">
                  <input type="password" id="materialRegisterFormPassword" id="SCpassword" name="confirmpassword" class="form-control" aria-describedby="materialRegisterFormPasswordHelpBlock">
                  <label for="materialRegisterFormPassword">confirmPassword <p id="confirmSP"></p></label>
                  
                 
              </div>
                <!-- Sign up button -->
                <button class="btn btn-outline-info waves-effect" type="submit">Sign in</button>
      
                <!-- Social register -->
                <p>or sign up with:</p>
      
                <a type="button" class="btn-floating btn-fb btn-sm">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a type="button" class="btn-floating btn-tw btn-sm">
                    <i class="fab fa-twitter"></i>
                </a>
                <a type="button" class="btn-floating btn-li btn-sm">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a type="button" class="btn-floating btn-git btn-sm">
                    <i class="fab fa-github"></i>
                </a>
      
                <hr>
      
                <!-- Terms of service -->
                <p>By clicking
                    <em>Sign up</em> you agree to our
                    <a href="" target="_blank">terms of service</a>
      
                </div>
        </form>
        </div>
      </div>
    </div>
    </div>
    <div class="col-sm-12  lime-text text-darken-1 n-0">
      <div class="col">
        <!----collapse multi-collapse animated-->
        <div class="zoomIn" id="multiCollapseExample2">
          <div class=" card-body">
            <form action="{% url 'jobkarlepro:FresherRigister' %}" method="POST">
              {% csrf_token %}
              <input type="hidden" name="Fresher_id" id='Fresher_id' value="{{ forms.id }}">
               <div>
             <!-- Material form register -->
          <div>
    <!--Card content-->
    <div class="card-body px-lg-5 pt-0">
  
        <!-- Form -->
        <div class="text-center" style="color: #757575;">
  
            <div class="form-row">
                <div class="col">
                    <!-- First name -->
                    <div class="md-form">
                        <input type="text" id="materialRegisterFormFirstName" name="firstname" class="form-control">
                        <label for="materialRegisterFormFirstName">First name</label>
                    </div>
                </div>
                <div class="col">
                    <!-- Last name -->
                    <div class="md-form">
                        <input type="text" id="materialRegisterFormLastName" name="lastname" class="form-control">
                        <label for="materialRegisterFormLastName">Last name</label>
                    </div>
                </div>
            </div>
            <div class="md-form mt-0">
              <input type="text" id="materialRegisterFormEmail" name="username" class="form-control">
              <label for="materialRegisterFormEmail">username</label>
          </div>
  
  
            <!-- E-mail -->
            <div class="md-form mt-0">
                <input type="email" id="materialRegisterFormEmail" name="email" class="form-control">
                <label for="materialRegisterFormEmail">E-mail</label>
            </div>
  
            <!-- Password -->
            <div class="md-form">
                <input type="password" id="materialRegisterFormPassword" name="password"class="form-control" aria-describedby="materialRegisterFormPasswordHelpBlock">
                <label for="materialRegisterFormPassword">Password</label>
                <small id="materialRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
                    At least 8 characters and 1 digit
                </small>
            </div>
            <div class="md-form">
              <input type="password" id="materialRegisterFormPassword" name="confirmpassword"class="form-control" aria-describedby="materialRegisterFormPasswordHelpBlock">
              <label for="materialRegisterFormPassword">confirmPassword</label>
             
          </div>
  
            <!-- Sign up button -->
            <button class="btn btn-outline-info waves-effect" type="submit">Sign in</button>
  
            <!-- Social register -->
            <p>or sign up with:</p>
  
            <a type="button" class="btn-floating btn-fb btn-sm">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a type="button" class="btn-floating btn-tw btn-sm">
                <i class="fab fa-twitter"></i>
            </a>
            <a type="button" class="btn-floating btn-li btn-sm">
                <i class="fab fa-linkedin-in"></i>
            </a>
            <a type="button" class="btn-floating btn-git btn-sm">
                <i class="fab fa-github"></i>
            </a>
  
            <hr>
  
            <!-- Terms of service -->
            <p>By clicking
                <em>Sign up</em> you agree to our
                <a href="" target="_blank">terms of service</a>
  
            </div>
        <!-- Form -->
  
    </div>
  
  </div>
  <!-- Material form register -->
          </form>
          </div>
        </div>
      </div>
  
    <div class="col-sm-6"></div>
    </div>
  </div>
  <!--/ Collapsible content -->
      </div>
    </div>
  </div>
  </section>
  </section>
  {% if messages %}
  
  {% endif %}
</section>
{% endblock %}