{% load static %}
<style>
    .carde {
        position: relative;
        color: #fff;
        background: rgba(0, 0, 128, 0.692);
        box-shadow: 0 4px 8px 0 rgba(17, 1, 1, 0.226);
        transition: 0.3s;
      }
      .carde:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        border-width: 16px 16px 16px 16px;
        border-style: solid;
        border-color:navy orange;
      }
</style>
<div class="carde card p-2" id="logo-audgest">
    <p class=" m-auto " style="color: white; font-size:18px;">JOBKARLE.com ..... </p>
  </div>
