{% load static %}
<style> 
  div.scroll { 
    width: 490px; 
    height: 720px; 
    overflow-x: hidden; 
    overflow-x: auto; 
    text-align:justify; 
  } 
  .main-head{
    background-color:#212121;
    color:white;
  }
</style> 
<style>
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);}
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
.fa-2x {
font-size: 2em;
}
.fa {
position: relative;
display: table-cell;
width: 60px;
height: 36px;
text-align: center;
vertical-align: middle;
font-size:20px;
}


.main-menu:hover,nav.main-menu.expanded {
width:250px;
overflow:visible;
}

.main-menu {
background:#212121;
border-right:1px solid #e5e5e5;
position:absolute;
top:0;
bottom:0;
height:100%;
left:0;
width:60px;
overflow:hidden;
-webkit-transition:width .05s linear;
transition:width .05s linear;
-webkit-transform:translateZ(0) scale(1,1);
z-index:1000;
}

.main-menu>ul {
margin:7px 0;
}

.main-menu li {
padding: 5px;
margin: auto;
position:relative;
display:block;
width:250px;
}

.main-menu li>a {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
color:#999;
 font-family: arial;
font-size: 14px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .1s linear;
transition:all .1s linear;
  
}

.main-menu .nav-icon {
position:relative;
display:table-cell;
width:60px;
height:36px;
text-align:center;
vertical-align:middle;
font-size:18px;
}

.main-menu .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
width:190px;
  font-family: 'Titillium Web', sans-serif;
}

.main-menu>ul.logout {
position:absolute;
left:0;
bottom:0;
}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color:#fff;
}
.area {
float: left;
background: #f38f8f;
width: 100%;
height: 100%;
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
  }
  
.border-stylish{
  border-bottom-left-radius: 300px;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-start-start-radius: 30px;
}
  </style>

  <html>
  <head>
      <!-- <link rel="stylesheet" href="{% static 'bootstrap/css/fontawesome-all.css' %}">
      <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
      <link rel="stylesheet" href="{% static 'bootstrap/css/mdb.css' %}">
      <link rel="stylesheet" href="{% static 'bootstrap/css/style.css' %}"> -->
      <script src="http://code.jquery.com/jquery-3.4.1.min.js"></script>
      <link rel="stylesheet" type="text/css" href="{% static 'animate.css' %}">
      <link rel="stylesheet" href="{% static 'static_css/base.css' %}">
      <link type="text/css" rel="stylesheet" href="{% static 'static_css/magicscroll/magicscroll.css' %}"/>
      <script type="text/javascript" src="{% static 'static_css/magicscroll/magicscroll.js' %}"></script>
      <!-- Font Awesome -->
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
      <!-- Bootstrap core CSS -->
      <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
      <!-- Material Design Bootstrap -->
      <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.10.1/css/mdb.min.css" rel="stylesheet">
     
  </head>
  <body>
    <nav class="main-menu" style="position: fixed;">
            <ul>
                <li>
                    <a href="{% url 'jobkarleapp:Return_home' variable2.id %}">
                        <i class="fa fa-home fa-2x"></i>
                        <span class="nav-text">
                            Home
                        </span>
                    </a>
                  
                </li>
                <li class="has-subnav">
                  <a href="#" data-toggle="modal" data-target="#centralModalSm">
                    <button type="button" class="btn white m-auto" style="color: #212121;"><i class="fa fa-plus fa-2x"style="color:blue; position:relative; right:35px; top:5px;"></i>Compose</button>
                  </a>
                  
              </li>
                <li class="has-subnav">
                    <a href="{% url 'jobkarleapp:Total_notifications' variable2.id %}">
                        <i class="fa fa-laptop fa-2x"></i>
                        <span class="nav-text">
                            Inbox
                        </span>
                    </a>
                    
                </li>
                <li class="has-subnav">
                    <a href="#">
                      <i class="fa fa-star fa-2x"></i>
                        <span class="nav-text">
                            Saved Notifications
                        </span>
                    </a>
                    
                </li>
                <li class="has-subnav">
                    <a href="{% url 'jobkarleapp:Total_sent_notifications' variable2.id %}">
                      <i class="fa fa-share-square fa-2x"></i>
                        <span class="nav-text">
                            Sent
                        </span>
                    </a>
                   
                </li>
               
            </ul>

            <ul class="logout">
                <li>
                   <a href="{% url 'jobkarlepro:Logout' %}">
                         <i class="fa fa-power-off fa-2x"></i>
                        <span class="nav-text">
                            Logout
                        </span>
                    </a>
                </li>  
            </ul>
        </nav>
        <div class="m-2" style="width: max-content; position:absolute; right:0;">
          {% include 'logo.html' %}
        </div>
          <section style="position: relative; top:60px;">
            {% if dummy %}
            <div class="row m-auto" style="width: max-content;">
              <div class="col-sm-10 m-auto">
                  <div class=" m-3" style="background-color: aliceblue;">
                    <div class="col-sm-11"style="">
                      <div class="row m-auto">
                        <div class="col-sm-10 p-2">
                          <div>
                            <h5><strong style="font-size: 13;">Notification Sender : {{obj.Name}}</strong></h5>
                            <h5><strong style="font-size: 13;">Email : {{company_user.email}}</strong></h5>
          
                          </div>
                        </div>
                        <div class="col-sm-2 p-2">
                          <div class="m-auto"><img class="m-auto" src="{{Img.Profile.url}}" width="50" height="50"></div>
                        </div>
                      </div>
                    </div>
                </div>
                <div class=" mt-3" style="margin-left: 20px;">
                      <div class="col-sm-8"></div>
                      <div class="col-sm-4" style="position: relative; right:50px;"> 
                        <div class="letter-image">
                          <div class="animated-mail">
                            <div class="back-fold"></div>
                            <div class="letter">
                              <div class="letter-border"></div>
                              <div class="letter-title"></div>
                              <div class="letter-context"></div>
                              <div class="letter-stamp">
                                <div class="letter-stamp-inner"></div>
                              </div>
                            </div>
                            <div class="top-fold"></div>
                            <div class="body"></div>
                            <div class="left-fold"></div>
                          </div>
                          <div class="shadow"></div>
                        </div> 

                      </div>
                    <div class="">
                   
                   <div class="card p-2" style="float: right; position:relative; right:17px; background-color:rgba(255, 166, 0, 0.418);">
                    <i class="fas fa-reply fa-1.5x " style="font-weight: bold;"> Reply</i>
                  </div>
                  <h4 style=" font-size:12; color:black;"><stong>{{obj.Subject}}</stong></h4>
                  <div style="font-size: 12;">
                    {{obj.Message | safe}}
                  {{media}}
                  </div>
                  <div class=" modal-body">
        
                    <section>
                        <!-- intenction hidden model -->
                        <div class="col-sm" style="position: relative; right:15px; top:30px;">
                          </div>
                          <form method="POST" action="{% url 'jobkarleapp:User_intenction' %}">
                            {% csrf_token %}
                            <input type="hidden" name="user_id" value="{{obj.sender}}">
                            <input type="hidden" name="Name" value="{{variable2.username}}">
                            <input type="hidden" name="Subject" value="{{obj.Subject}}">
                            <input type="hidden" name="user_idd" value="{{obj.user.id}}">
                            <input type="hidden" name="condition" value="notification_view">
                            <input type="hidden" name="notification" value="{{obj.id}}">
                          <div class="">
                            <label class="ml-1 card p-2" style="color:rgb(129, 200, 248); width:max-content;"><i class="fas fa-reply fa-1.5x " style="margin: auto;"> reply</i></label><br>
                            <div  class = "p-2">
                               <div class="m-2" style="height:200px;">
                                {{forms.media}}
                                {{forms.Message|safe}}
                               </div>
                          </div>
                          <div class="m-auto" style="width: max-content; position:relative; top:200px;">
                            <input class="p-2 m-2 card"  style="width:max-content; color:white; background-color:rgb(129, 200, 248);" type="submit" value="Send">
                          </div>
                          </div>
                        </form>
                        </div>
                 </div>
              </div>
            </div>
            {% else %}
{% if dummysent %}
<div class="m-auto">
  <!--Table-->
<table class="table m-auto col-sm-10 " style="width:max-content;">

<!--Table head-->
<thead style="background-color: #999; position:static;">
<tr>
<th>#</th>
<th>Profile</th>
<th>Sender</th>
<th>Subject</th>
<th>Date</th>
<th>Save</th>
<th>view</th>
</tr>
</thead>
<!--Table head-->

<!--Table body-->
{% for i in notifications %}  
<tbody>
<tr>
<th scope="row">4</th>
<td> <img class="p-1" src="{{i.Profile.url}}" style="border:1px solid black; background-color:rgb(198, 207, 209);" width="30" height="30" class="rounded-circle img-responsive" alt="no profile"></td>
<td>{{i.Name}}</td>
<td>{{i.Subject}}</td>
<td>13-5-2020</td>
<td>
<i class="far fa-star" style="float: right;" id="icon-card" ></i>
</td>
<td><a href="{% url 'jobkarleapp:Single_notification' i.id variable2.id %}">click</a></td>
</tr>
</tbody>
{% endfor %}
<!--Table body-->

</table> 
<!--Table-->
</div>
{% else %}
<div class="m-auto">
              <!--Table-->
<table class="table m-auto col-sm-10 " style="width:max-content;">

  <!--Table head-->
  <thead style="background-color: #999; position:static;">
    <tr>
      <th>#</th>
      <th>Profile</th>
      <th>Name</th>
      <th>Subject</th>
      <th>Date</th>
      <th>Save</th>
      <th>view</th>
    </tr>
  </thead>
  <!--Table head-->

  <!--Table body-->
  {% for i in notifications %}  
  {% if 'Unread' == i.Status %}
  <tbody>
   
    <tr style="background-color:silver;">
      <th scope="row">4</th>
      <td> <img class="p-1" src="{{i.Profile.url}}" style="border:1px solid black; background-color:rgb(198, 207, 209);" width="30" height="30" class="rounded-circle img-responsive" alt="no profile"></td>
      <td>{{i.Name}}</td>
      <td>{{i.Subject}}</td>
      <td>13-5-2020</td>
      <td>
        <i class="far fa-star" style="float: right;" id="icon-card" ></i>
      </td>
      <td><a href="{% url 'jobkarleapp:Single_notification' i.id variable2.id %}">click</a></td>
   
    </tr>
 
    {% else%}
    
    <tr style="background-color:rgba(226, 221, 221, 0.432)">
      
      <th scope="row">5</th>
      <td> <img class="p-1" src="{{i.Profile.url}}" style="border:1px solid black; background-color:rgb(198, 207, 209);" width="30" height="30" class="rounded-circle img-responsive" alt="no profile"></td>
      <td>{{i.Name}}</td>
      <td style="color: #f38f8f;">{{i.Subject}}</td>
      <td>13-5-2020</td>
      <td>
        <i class="far fa-star" style="float: right;" id="icon-card" ></i>
      </td>
      <td><a href="{% url 'jobkarleapp:Single_notification' i.id variable2.id %}">click</a></td>
      </form>
    </tr>
  </tbody>
  {% endif %}
  {% endfor %}
  <!--Table body-->

</table> 
<!--Table-->
              
</div>
{% endif %}
{% endif %}
</section>
<!-- Button trigger modal -->


<!-- Central Modal Small -->
<div class="modal fade" id="centralModalSm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">

  <!-- Change class .modal-sm to change the size of the modal -->
  <div class=" card modal-dialog modal-lg" role="document">


      <div class="modal-header">
        <h6 class="modal-title" id="myModalLabel">
          <div class="">
            <div class=" m-auto" style="background-color: yellow;">        
              <strong><div class="row"><mark  style="background-color: black; color:white; text-align:center;">SEND Your</mark><mark style="background-color: yellow; color:black;">INTENCTION</mark></div></<strong>
          </div>
        </h6>
        <button type="button" class="close chat" onclick="this.classList.toggle('active')" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-content modal-body">
        
        <section>
            <!-- intenction hidden model -->
            <div class="col-sm" style="position: relative; right:15px; top:30px;">
              </div>
              <form method="POST" action="{% url 'jobkarleapp:User_intenction' %}">
                {% csrf_token %}
                <input type="hidden" name="user_id" value="{{user_data.id}}">
                <input type="hidden" name="user_idd" value="{{Suser_data.id}}">
              <div class="m-2">
                <label style="color:rgb(129, 200, 248);">Your Name</label>
                {{forms.Name}}
              </div>
              <div class="m-2">
                <label style="color:rgb(129, 200, 248);">Subject</label>
                {{forms.Subject}}
              </div>
              <div class="mr-2" style="position: relative; left:13px;">
                <label class="mr-1" style="color:rgb(129, 200, 248);">Message</label>
                {{forms.media}}
                {{forms.Message|safe}}
                
              </div>
              <div class="m-auto" style="width: max-content;">
                <input class=" card"  style="color:white; background-color:rgb(129, 200, 248);" type="submit" value="Send Notification">
              </div>
            </form>
            </div>
          </section>
    
    </div>
  </div>
</div>
<!-- Central Modal Small -->
          <section>
              <section class="modal fade col-sm-8" id="studentcommentmodel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"aria-hidden="true">
              <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
                <!-- intenction hidden model -->
                <div class="card col-sm-6 m-2" style="position: relative; right:15px; top:30px;">
                  <div class="m-2">
                    <div class="card col-sm-3 m-auto" style="background-color: yellow;">        
                      <strong><div class="row"><mark  style="background-color: black; color:white; text-align:center;">SEND Your</mark><mark style="background-color: yellow; color:black;">INTENCTION</mark></div></<strong>
                  </div>
                  </div>
                  <form method="POST" action="{% url 'jobkarleapp:User_intenction' %}" style="height: max-content;">
                    {% csrf_token %}
                    <input type="hidden" name="user_id" value="{{user_data.id}}">
                    <input type="hidden" name="user_idd" value="{{Suser_data.id}}">
                  <div class="m-2">
                    <label style="color:rgb(129, 200, 248);">Your Name</label>
                    {{forms.Name}}
                  </div>
                  <div class="m-2">
                    <label style="color:rgb(129, 200, 248);">Subject</label>
                    {{forms.Subject}}
                  </div>
                  <div class="mr-2" style="position: relative; left:13px;">
                    <label class="mr-1" style="color:rgb(129, 200, 248);">Message</label>
                    {{forms.media}}
                    {{forms.Message|safe}}
                    
                  </div>
                  <div class="m-auto" style="width: max-content;">
                    <input class=" card"  style="color:white; background-color:rgb(129, 200, 248);" type="submit" value="Send Notification">
                  </div>
                </form>
              
                </div>
            
              </section>
          </section>
          
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <!-- Bootstrap tooltips -->
        <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
        <!-- Bootstrap core JavaScript -->
        <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <!-- MDB core JavaScript -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.10.1/js/mdb.min.js"></script>
      <datalist id="id_country_list"></datalist>
  </body>
    </html>