{% extends 'companybase.html' %}
{% load static %}
{% block content %}
<style>
  .bg_studentslist{
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)) , url("/static/main.jpg");
    color: white;
    background-repeat: no-repeat;
    /* background-attachment:fixed; */
    background-size: cover;
    background-position:top;
    height:190px; 
  }
  .bg_studentimg{
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)) , url("/static/students_img1 (1).jpg");
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:bottom;
    width:400px;
    height:150px;
  }
</style>
<div class="bg_studentslist m-auto ">
  <div class="row m-4" style="float: right;">
    <div class="card p-2"></div>
  <div class="bg_studentimg card">
    <div class="m-auto" style="height:max-content">
  <p class="text-center m-0" style="font-weight: 900;">Trust Us</p>
  <p class="text-center m-0" style="font-weight: 400;">we will provide better qualifid list</p>
  <p class="text-center m-0" style="font-size: 13px; color:white">Jobkarle.co having the better <span style="color:yellow; font-weight:bold;">ratings</span> system of a <span style="color:green; font-weight:bold;">student</span></p>
  <p class="text-center m-0" style="font-size: 13px; color:white">join with us </p>
    </div>
  </div>
  </div>
</div>

{% endblock %}