{% extends 'base.html' %}
{% block content %}
{% load static %}
<style>
  .profile-main{
    background-image: url('/static/profile-maine-back.jpg');
    background-size: cover;
    position: relative;
    bottom: 300px;
  }
  .upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
  .btn {
    border: 2px solid gray;
    color:white;
    background-color:rgb(84, 160, 236);
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
  }
  p{
    font-size: 11px;
  }
  h1 ,h2 ,h3 ,h4{
   font-size: 13px;
  }
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
  .Resume-Edite{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
  }
  @-moz-document url-prefix() { 
    .main-body {
      position:absolute;
      top:65px;

    }
  }


</style>
<body>
  <section class="main-body m-0 p-0" id="push" style="position: relative; bottom:160px;">
    {% if obj %}
    <section class=" card col-sm-9 m-auto #f5f5f5 grey lighten-4" id="job_button_status">
      
        <div class="row">
          <div class="coll-sm-1">
            <div class="p-2 m-1 #c5e1a5 light-green lighten-3" style="width: max-content;">
              <img src="{% static 'rigth.png' %}" class="m-auto" width="20" id="img-companys" > 
            </div>
          </div>
        <div class="applied-allert m-auto col-sm-11">
         <h4 class="m-auto float-left" style=" color: green; width:max-content;"><span style="color: black;">{{user_data.username}}</span> {% for message in messages %} {{message}} {% endfor %} <pan style="color:#3c98ed;">{{obj.Skills}}</pan> in <span class="lighten-3">{{obj.CompanyName}}</span></h4>
        </div>
      
    </section>
    {% endif %}
    <div class="">
        <div class="row" style="margin: 0px 0px 0px;">
          <div class="col-sm-2">
           
           <!-- Default unchecked -->
          <!-- <div>
            <div class="card" style="width: 300px; height:700px; position:relative; bottom:300px;"></div>
          </div> -->
          </div>
          <!-- <dvi class="col-sm-1"></dvi> -->
        
<div class="col-sm-7 pb-2" style="padding: 0px 0px 0px;">

            {% for comdata in student_jobs %}
        <!-- Card -->
<div class="card booking-card m-2">
        <!-- Card content -->
        <div class="card-body">
          <div class="row">
            <div class="col-sm-5">
                <h4 class="card-title font-weight-bold">{{comdata.CompanyName}}</h4>
            </div>
            <div class="col-sm-5"></div>
            <div class="col-sm-2">
              {% for Add in user_data.fresherqualification_set.all %}
              <form  action="{% url 'jobkarleapp:Apply_Click' Add.id %}" method="POST">{% csrf_token %}
                <input type="hidden" name='job_id' value="{{comdata.id}}">
                <input class="apply-button pt-2 pb-2 pl-3 pr-3  card #d4e157 lime lighten-1" type="submit" style="color:white; font-size:15px;;" value="Apply">
              </form>
              
              <input type="hidden"  value = "{{ student_job.id }}">

               {% endfor %}
            </div>
          </div>
      
          <!-- Title -->
          <!-- Data -->
          <ul class="list-unstyled list-inline rating mb-0">
            <li class="list-inline-item mr-0"><i class="fas fa-star amber-text"> </i></li>
            <li class="list-inline-item mr-0"><i class="fas fa-star amber-text"></i></li>
            <li class="list-inline-item mr-0"><i class="fas fa-star amber-text"></i></li>
            <li class="list-inline-item mr-0"><i class="fas fa-star amber-text"></i></li>
            <li class="list-inline-item"><i class="fas fa-star-half-alt amber-text"></i></li>
            <li class="list-inline-item"><p class="text-muted">4.5 (413)</p></li>
          </ul>
          <p class="mb-2">{{comdata.CompanyName}}</p>
          <!-- Text -->
          <p class="card-text cdesc" style="font-size: 12px;">{{comdata.Company_Description}}</p>
          <hr class="my-4">
          <p class="lead" style="font-size:13px;"><strong>{{comdata.Skills}}</strong></p>
          <p class="card-text" style="font-size: 12px;">{{comdata.Roles_and_Responsabulity}}</p><br>
          <div>
            <i class="far fa-star" style="float: right;" id="icon-card" ></i>
          </div>
          <!--Accordion wrapper-->
<div class="accordion md-accordion" id="accordionEx{{comdata.id}}" role="tablist" aria-multiselectable="true">

  <!-- Accordion card -->
  <div>

    <!-- Card header -->
    <div class="" role="tab" id="headingOne1">
      <a data-toggle="collapse" data-parent="#accordionEx{{comdata.id}}" href="#collapseOne1{{comdata.id}}" aria-expanded="true"
        aria-controls="#collapseOne1{{comdata.id}}">
        <h5 style="font-size:12px;" class="mb-0">Show More <i class="fas fa-angle-down rotate-icon"></i>
        </h5>
      </a>
    </div>

    <!-- Card body -->
    <div id="collapseOne1{{comdata.id}}" class="collapse" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx{{comdata.id}}">
      <div class="card-body">
        <p class="lead" style="font-size: 11px;"><strong>Interview</strong></p>
        <p class="card-text" style="font-size:11px;">{{comdata.Tterview_Date}}</p>
        <p class="card-text" style="font-size: 11px;">{{comdata.Interview_Location}}</p>
        <div class="row">
          <div class="col-sm"><p class="card-text">{{comdata.First_HrName}}</p></div>
          <div class="col-sm"><p class="card-text">{{comdata.First_HrNumber}}</p></div>
        </div>
        <div class="row">
          <div class="col-sm"><p class="card-text">{{comdata.Second_HrName}}</p></div>
          <div class="col-sm"><p class="card-text">{{comdata.Second_HrNumber}}</p></div>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- Accordion wrapper -->
         
          <!-- Button -->
        </div>
      
      </div>
      <!-- Card -->
    {% endfor %} 
          </div>
          <div class="col" style="padding: 0px 0px 0px; position:relative; top:5px; width:max-content;">
        
            <div class="p-2 Resume-Edite float-left mr-1" style="padding: 0%;background-color:white;">
              <h4 class="" ><strong>Attach Resume</strong></h4>
              <p class="" style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color:rgb(151, 148, 148);">Resume is the most important document recruiters look for .</p>
              <p class="" style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color:rgb(151, 148, 148); position:relative; bottom:10px;">They generally do not look at profiles without resumes.</p>
             
             <div class="m-auto" style="width: max-content;">
               <div class="m-auto">
                <p><strong>{{user_qualification.Resume}}</strong></p>
               </div>
               <div class="m-auto" style="float: left;">
                <i class="fa fa-download " style="color:#fbc12dce; border:0.5px solid #3c98ed;" aria-hidden="true"></i>
              </div>
             </div>
              <div class=" m-auto" style=" border:0.5px solid rgb(216, 212, 212);">
                
                  <form method="GET" id="idajax" enctype="multipart/form-data">
                  <div class="upload-btn-wrapper">
                    <a style="font-size:11px;" class="btn #d1c4e9 deep-purple lighten-4 card">Upload a Resume</a>
                    <input type="hidden" id="qualification_id" name="qualification_id" value="{{user_qualification.id}}">
                    <input type="file" name="Resume" id="Resume">
                  </div>
                  <p style="padding:5px;">Supported Formats: doc, docx, rtf, pdf, upto 2 MB</p>
                </form>
                
              </div>
            </div>
          
          </div>
        </div>
        <section>
          <div>
            {% if student_jobs.has_other_pages %}
            <ul class="pagination">
              <div class="m-auto row #c5cae9 indigo lighten-4" style=" box-shadow: 0 4px 8px 0 rgba(17, 1, 1, 0.226);
              transition: 0.3s;  padding-left:10px; padding-right:10px;">
                {% if student_jobs.has_previous %}
                <li><a class="card p-2 m-1" href="?page={{ student_jobs.previous_page_number }}">&laquo;PREVIOUS</a></li>
              {% else %}
                <li class="card p-2 m-1 disabled"><span>&laquo; PREVIOUS</span></li>
              {% endif %}
              {% for i in student_jobs.paginator.page_range %}
                {% if student_jobs.number == i %}
                  <li class="active" style="color: black;"><span class="card p-2 m-1" style="background-color: yellow;">{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                  <li><a class="card p-2 m-1" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
              {% endfor %}
              {% if student_jobs.has_next %}
                <li><a class="card p-2 m-1" href="?page={{ student_jobs.next_page_number }}">NEXT &raquo;</a></li>
              {% else %}
                <li class="disabled"><span>NEXT &raquo;</span></li>
              {% endif %}
              </div>
            </ul>
          {% endif %}
          </div>
        </section>
      </div>
</section>

<script>
  $("").on (function(evt){	 
    evt.preventDefault();
    var formData = new FormData($(this)[0]);
 $.ajax({
  url: "{% url 'jobkarleapp:Resume_Edite' %}",
     type: 'GET',
     data: formData,
     async: false,
     cache: false,
     contentType: false,
     enctype: 'multipart/form-data',
     processData: false,
     success: function (response) {
       alert(response);
     }
 });
 return false;
});
</script>
</body>

{% endblock %}