{% extends 'base.html' %}
{% block content %}
{% load static %}
<style>
  .profile-main{
    background-image: url('/static/profile-maine-back.jpg');
    background-size: cover;
    position: relative;
    bottom: 300px;
  }
  .upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
  .btn {
    border: 2px solid gray;
    color:white;
    background-color:rgb(84, 160, 236);
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
  }
  p{
    font-size: 11px;
  }
  h1 ,h2 ,h3 ,h4{
   font-size: 13px;
  }
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
  .Resume-Edite{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
  }
</style>
<section>
    <div class="m-4" style="position: absolute; top:425px;">
        <div class="row">
          <div class="col-sm-2">
           
           <!-- Default unchecked -->
           <section data-scrollbar>
            <img src="jobkarle-logo1.JPG">
          </section>
          
          <script> Scrollbar.initAll(); </script>
          <!-- <div>
            <div class="card" style="width: 300px; height:700px; position:relative; bottom:300px;"></div>
          </div> -->
          </div>
          <!-- <dvi class="col-sm-1"></dvi> -->
<div class="col-sm-7 pb-2" style="padding: 0px 0px 0px;">
{% if obj %}
<section>
  <div class="container card col-sm-12">
    <div class="row">
      <div class="col-sm-1">
        <img src="{% static 'rigth.png' %}" width="30" id="img-companys" > 
      </div>
    <div class="applied-allert">
     <P  class="m-auto centar" style=" color: green;"><span style="color: black;">{{user_data.username}}</span> {% for message in messages %} {{message}} {% endfor %} <pan style="color:#3c98ed;">{{obj.Skills}}</pan> in <span style="color:#3c98ed;">{{obj.CompanyName}}</span></P>
    </div>
  </div>
</section>
{% endif %}
            {% for comdata in student_jobs %}
        <!-- Card -->
<div class="card booking-card m-2" style="background-color: aliceblue;">
        <!-- Card content -->
        <div class="card-body">
          <div class="row">
            <div class="col-sm-5">
                <h4 class="card-title font-weight-bold">{{comdata.CompanyName}}</h4>
            </div>
            <div class="col-sm-5"></div>
            <div class="col-sm-2">
              {% for Add in user_data.fresherqualification_set.all %}
              <form  action="{% url 'jobkarleapp:Apply_Click' Add.id %}" method="POST">{% csrf_token %}
                <input type="hidden" name='job_id' value="{{comdata.id}}">
                <input class="apply-button" type="submit"style="padding-left:30px; padding-right:30px; background-color:rgb(136, 138, 139); color:white; font-size:15px;;" value="Apply">
              </form>
              
              <input type="hidden"  value = "{{ student_job.id }}">

               {% endfor %}
            </div>
          </div>
      
          <!-- Title -->
          <!-- Data -->
          <ul class="list-unstyled list-inline rating mb-0">
            <li class="list-inline-item mr-0"><i class="fas fa-star amber-text"> </i></li>
            <li class="list-inline-item mr-0"><i class="fas fa-star amber-text"></i></li>
            <li class="list-inline-item mr-0"><i class="fas fa-star amber-text"></i></li>
            <li class="list-inline-item mr-0"><i class="fas fa-star amber-text"></i></li>
            <li class="list-inline-item"><i class="fas fa-star-half-alt amber-text"></i></li>
            <li class="list-inline-item"><p class="text-muted">4.5 (413)</p></li>
          </ul>
          <p class="mb-2">{{comdata.CompanyName}}</p>
          <!-- Text -->
          <p class="card-text cdesc" style="font-size: 12px;">{{comdata.Company_Description}}</p>
          <hr class="my-4">
          <p class="lead" style="font-size:13px;"><strong>{{comdata.Skills}}</strong></p>
          <p class="card-text" style="font-size: 12px;">{{comdata.Roles_and_Responsabulity}}</p><br>
          <div>
            <i class="far fa-star" style="float: right;" id="icon-card" ></i>
          </div>
          <!--Accordion wrapper-->
<div class="accordion md-accordion" id="accordionEx{{comdata.id}}" role="tablist" aria-multiselectable="true">

  <!-- Accordion card -->
  <div>

    <!-- Card header -->
    <div class="" role="tab" id="headingOne1">
      <a data-toggle="collapse" data-parent="#accordionEx{{comdata.id}}" href="#collapseOne1{{comdata.id}}" aria-expanded="true"
        aria-controls="#collapseOne1{{comdata.id}}">
        <h5 style="font-size:12px;" class="mb-0">Show More <i class="fas fa-angle-down rotate-icon"></i>
        </h5>
      </a>
    </div>

    <!-- Card body -->
    <div id="collapseOne1{{comdata.id}}" class="collapse" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx{{comdata.id}}">
      <div class="card-body">
        <p class="lead" style="font-size: 11px;"><strong>Interview</strong></p>
        <p class="card-text" style="font-size:11px;">{{comdata.Tterview_Date}}</p>
        <p class="card-text" style="font-size: 11px;">{{comdata.Interview_Location}}</p>
        <div class="row">
          <div class="col-sm"><p class="card-text">{{comdata.First_HrName}}</p></div>
          <div class="col-sm"><p class="card-text">{{comdata.First_HrNumber}}</p></div>
        </div>
        <div class="row">
          <div class="col-sm"><p class="card-text">{{comdata.Second_HrName}}</p></div>
          <div class="col-sm"><p class="card-text">{{comdata.Second_HrNumber}}</p></div>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- Accordion wrapper -->
         
          <!-- Button -->
        </div>
      
      </div>
      <!-- Card -->
    {% endfor %} 
          </div>
          <div class="col-sm-3" style="padding: 0px 0px 0px; position:relative; top:5px;">
        
            <div class="p-2 Resume-Edite" style="padding: 0%;background-color:white;">
              <h4 class="" ><strong>Attach Resume</strong></h4>
              <p class="" style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color:rgb(151, 148, 148);">Resume is the most important document recruiters look for .</p>
              <p class="" style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color:rgb(151, 148, 148); position:relative; bottom:10px;">They generally do not look at profiles without resumes.</p>
             
             <div class="row">
               <div class="m-auto">
                <p><strong>{{user_qualification.Resume}}</strong></p>
               </div>
               <div class="m-auto">
                <i class="fa fa-download p-2" style="color: #3c98ed; border:0.5px solid #3c98ed;" aria-hidden="true"></i>
              </div>
             </div>
              <div class=" m-auto" style=" border:0.5px solid rgb(216, 212, 212);">
                
                  <form method="GET" id="idajax" enctype="multipart/form-data">
                  <div class="upload-btn-wrapper">
                    <button style="font-size:11px;" class="btn">Upload a Resume</button>
                    <input type="hidden" id="qualification_id" name="qualification_id" value="{{user_qualification.id}}">
                    <input type="file" name="Resume" id="Resume">
                  </div>
                  <p style="padding:5px;">Supported Formats: doc, docx, rtf, pdf, upto 2 MB</p>
                </form>
                
              </div>
            </div>
          
          </div>
        </div>
      </div>
</section>
<script>
  $("").on (function(evt){	 
    evt.preventDefault();
    var formData = new FormData($(this)[0]);
 $.ajax({
  url: "{% url 'jobkarleapp:Resume_Edite' %}",
     type: 'GET',
     data: formData,
     async: false,
     cache: false,
     contentType: false,
     enctype: 'multipart/form-data',
     processData: false,
     success: function (response) {
       alert(response);
     }
 });
 return false;
});
</script>
{% endblock %}